:root {
  --principal-color: #ff385c;
  --font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
header {
  &.search-open {
    background-color: rgba(0,0,0,.4);
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 55;
  }
  .header-block {
    border-bottom: 1px solid #eaeaea;
    padding: 15px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .logo {
        max-width: 135px;
        grid-area: logo;
      }
      > button {
        border: none;
        background-color: transparent;
      }
      .open-menu {
        display: flex;
        list-style: none;
        justify-content: center;
        min-width: 365px;
        gap: 15px;
        li {
          a {
            color: #333;
            padding: 3px 5px;
          }
          &:first-of-type {
            a {
              border-bottom: 1px solid #333;
            }
          }
        }
      }
      ul.search-block {
        display: flex;
        list-style: none;
        padding: 10px 15px;
        align-items: center;
        border-radius: 50px;
        -webkit-box-shadow: 0px 6px 13px -3px rgba(194,194,194,1);
        -moz-box-shadow: 0px 6px 13px -3px rgba(194,194,194,1);
        box-shadow: 0px 6px 13px -3px rgba(194,194,194,1);
        cursor: pointer;
        li {
          padding: 5px 10px;
          border-right: 1px solid #eaeaea;
          align-self: center;
          a {
            color: #333;
          }
          button {
            background-color: var(--principal-color);
            border: none;
            padding: 5px 7px;
            border-radius: 50px;
            margin-left: 12px;
            img {
              width: 12px;
            }
          }
          &:last-child {
            border: none;
            a {
              color:#a3a2a2;
            }
          }
        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 5px;
    
        > span {
          font-weight: 500;
        }
        button {
          display: flex;
          background-color: transparent;
          border: 1px solid #eaeaea;
          border-radius: 50px;
          padding: 5px;
          img {
            width: 16px;
          }
        }
      }
    }
  
  }
}

.SearchBar {
  width: 100%;
  max-width: 850px;
  border-radius: 40px;
  border: 1px solid #979797;
  background-color: #fff;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &.focus {
    background-color: #dddddd;
  }
  .menu-box {
    position: relative;
    &.calendar {
      display: flex;
    }
    .input-box {
      padding: 10px 25px;
      background-color: transparent;
      border-radius: 50px;
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      &:hover {
        background-color: #e0e0e0;
      }
      &.selected {
        background-color: #fff;
      }
      > div {
        display: flex;
        flex-direction: column;
        label {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 6px;
        }
        input {
          border: none;
          background-color: transparent;
          outline: 0;
          font-size: 15px;
        }
      }
      button {
        background: #e3e3e3;
        border: none;
        padding: 5px 8px;
        height: fit-content;
        border-radius: 50px;
      }
    }
    .modal {
      position: absolute;
      top: calc(100% + 18px) ;
      background-color: #fff;
      border-radius: 20px;
      left: 0;
      min-height: 50px;
      width: 100%;
      padding: 20px 10px;
      ul {
        padding: 0;
        list-style: none;
        li {
          padding: 5px 10px;
          display: flex;
          align-items: center;
          &:hover {
            background-color: #e0e0e0;
          }
          span {
            border-radius: 10px;
            background-color: #e3e3e3;
            padding: 18px;
            background-size: 16px 16px;
          }
          a {
            display: inline-block;
            color: #333;
          }
        }
      }
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 5px;
  display: inline-block;

  &.menu-burguer {
    background-image: url('../assets/menu.png');
  }
  &.user-logo {
    background-image: url('../assets/user.png');
  }
  &.star {
    background-image: url('../assets/star.png');
  }
  &.heart {
    background-image: url('../assets/heart.png');
  }
  &.world {
    background-image: url('../assets/world.png');
  }
  &.map {
    background-image: url('../assets/placeholder.png');
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 10px;
  .col {
    padding: 0 5px;
    &-6 {
      width: calc(50% - 10px);
    }
    @media only screen and (min-width: 768px) {
      &-md {
        &-4 {
          width: calc(25% - 10px);
        }
      }
      
    }
    @media only screen and (min-width: 1920px) {
      &-lg {
        &-2 {
          width: calc(10% - 10px);
        }
      }
    }
  }
}